<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<i>Seismic modeling with half precision floating point numbers</i>.
			</span><br />
			<span class="authors">
				<small>G Fabien-Ouellet and R Clapp</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>80th EAGE Conference and Exhibition</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/SAGEEP_2017.pdf"><i>Integration geophysical measurements with soil sampling for site characterization using kernel estimation</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet and E. Gloaguen</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>SAGEEP</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/2017_Computers_Geosciences.pdf"><i>Time-domain seismic modeling in viscoelastic media for full waveform inversion on heterogeneous computing platforms with OpenCL</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Computers & Geosciences</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/JEEG_2017.pdf"><i>Integrating Geophysics and Soil Sampling for Site Characterization: A Kernel Approach</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and G. Plassart</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Journal of Environmental & Engineering Geophysics 22(3)</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/segam2017-17783222.pdf"><i>A stochastic L-BFGS approach for full-waveform inversion</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>SEG Technical Program Expanded Abstracts 2017</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/2017_GJI_GFO.pdf"><i>Time domain viscoelastic full waveform inversion</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Geophysical Journal International 209(3)</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/duchesneetal_2016.pdf"><i>Detection of near-surface hydrocarbon seeps using P-and S-wave reflections</i></a>.
			</span><br />
			<span class="authors">
				<small>M. Duchesne, A. Pugin, G. Fabien-Ouellet, and M. Sauvageau</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Interpretation 4(3)</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/EAGE_2017_b.pdf"><i>Viscoelastic forward and adjoint modeling with OpenCL on heterogeneous clusters</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>78th EAGE Conference and Exhibition 2016</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/EAGE_2017_a.pdf"><i>The adjoint state method for the viscoelastic wave equation in the velocity-stress formulation</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, E. Gloaguen, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>78th EAGE Conference and Exhibition</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/IWLSC.pdf"><i>Joint acquisition and processing of seismic reflections and surface waves in a sensitive clay deposit in the Outaouais Region (Quebec), Canada</i></a>.
			</span><br />
			<span class="authors">
				<small>G. Fabien-Ouellet, R. Fortier, and B. Giroux</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Landslides in Sensitive Clays</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="{{ site.url }}/bib/Fabien-Ouellet-2014.pdf"><i>Using all seismic arrivals in shallow seismic investigations</i></a>.
			</span><br />
			<span class="authors">
				<small>G Fabien-Ouellet and R. Fortier</small>.
			</span><br />
			<span class="venuetype"><small></small></span><span class="venue"><small>Journal of Applied Geophysics</small></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
